body{
    background-color: bisque;
    color: black;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.navbar ul li a{
    color: black;
}

.navbar{
    background-color: grey;
}

.navbar ul li{
    list-style: none;
}

.navbar a{
    text-decoration: none;
}

.navbar ul li a:hover {
    color:bisque;
}

.container{
    max-width: 960px;
    margin: auto;
}

.card{
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    margin-bottom: 5px;
}
