{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<h1>{{ title }}</h1>

<h3>{{ subtitle }}</h3>

<img src="{% static 'logoUnipoli.png' %}" alt="" width="670">

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, dicta, quibusdam sed necessitatibus incidunt veniam cum dolores dolore rerum, sit culpa velit esse voluptatibus</p>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque dignissimos magni sed distinctio. Quis voluptatem non pariatur sit! Sunt dolorem fugiat excepturi perferendis rerum incidunt quidem aliquam in facilis cupiditate?</p>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime autem eaque quod repellendus, molestiae veritatis commodi consectetur voluptatem numquam repellat pariatur velit. Velit commodi tenetur nihil fuga dolorum incidunt vitae.</p>

{% endblock %}